.CardOfBestTravel{
    width: 434px;
    height: 514px;
    background-color: #FFFFFF;
    border-radius: 15px;
    margin-bottom: 60px;
}

.imgOfCountri{
    width: 434px;
    height: 338px;
}

.PriceAndNameContainer{
    display: flex;
    justify-content: space-between;
}

.PriceAndNameContainer > p{
    font-family: "OpenSansRegular";
    font-size: 20px;
    margin: 0;
    padding: 10px 15px;
}

.textOfCardTravel{
    padding: 15px 40px 30px;
    font-family: "OpenSansSemilBold";
    font-size: 16px;
}

.underDownContainer{
    display: flex;
    justify-content: space-between;
}

.location, .KnowMore{
    padding: 0 15px;
    margin: 0;
}

.locationName{
    font-family: "OpenSansSemilBold";
    font-size: 20px;
    cursor: pointer;
}

.KnowMore{
    padding: 0 15px;
    margin: 0;
    font-family: "OpenSansSemilBold";
    font-size: 20px;
    text-decoration: underline;
    cursor: pointer;
}

.location{
    display: flex;
    align-items: center;
}

.location > img{
    width: 20px;
    height: 20px;
}

@media (max-width: 1700px) {
    .CardOfBestTravel{
        width: 300px;
        height: 414px;
        background-color: #FFFFFF;
        border-radius: 15px;
        margin-bottom: 60px;
    }

    .imgOfCountri{
        width: 300px;
        height: 240px;
    }

    .PriceAndNameContainer > p{
        font-size: 18px;
    }

    .textOfCardTravel{
        padding: 15px 40px 30px;
        font-size: 14px;
    }

    .locationName{
        font-size: 18px;
    }
    
    .KnowMore{
        font-size: 18px;
    }
}

@media (max-width:1250px) {
    .imgOfCountri {
        width: 240px;
        height: 180px;
    }

    .CardOfBestTravel {
        width: 240px;
        height: 330px;
        margin-bottom: 30px;
    }

    .PriceAndNameContainer > p{
        font-size: 16px;
    }

    .textOfCardTravel{
        padding: 15px 30px 20px;
        font-size: 12px;
    }

    .locationName{
        font-size: 14px;
    }
    
    .KnowMore{
        font-size: 14px;
    }

    .location, .KnowMore {
        padding: 0 10px;
    }
}

@media (max-width:950px) {
    .CardOfBestTravel {
        margin: 0 50px 50px;
    }
}